
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-content">
    <p>This privacy policy describes how your personal information is collected, used, and shared when you visit or make a purchase from Biljettshoppen.se</p>

    <h4>Personal Information We Collect</h4>
    <p>When you visit the Site, we automatically collect some information in the form of cookies that is on your device.</p>
    <p>"Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>.</p>
    <p>Additionally, when you make a purchase or attempt to make a purchase, we collect certain information from you, including your mail address, and payment information.</p>

    <h4>How Do We Use Your Personal Information</h4>
    <p>We use your personal information to perform the transaction and send you your ordered items.</p>
    <p>We use your device information to anonymously identify you.</p>

    <h4>Sharing Your Personal Information</h4>
    <p>We share your personal information with third parties to complete the transaction via "Payment processor". You can read how they handle it at <a href="http://www.PaymentProcessor.com" target="_blank">www.PaymentProcessor.com</a></p>
    <p>Finally, we may also share your personal information to comply with applicable laws and regulations, to respond to a subpoena, search warrant, or other lawful requests for information we receive, or to otherwise protect our rights.</p>

    <h4>Your Rights</h4>
    <p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>
    <p>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.</p>

    <h4>Data Retention</h4>
    <p>When you make a purchase through the site we maintain some of your order information for our records unless or until you ask us to delete this information.</p>

    <h4>Changes</h4>
    <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>

    <h4>Contact Us</h4>
    <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:info@biljettshoppen.se">info@biljettshoppen.se</a></p>
</div>